<div id="main_footer" class="footer">
    <div class="footer-inner">
        <div class="footer-content text-center">
            <span>Copyright © 2018 <strong>eMAG</strong>. <br class="visible-xs-inline">All rights reserved.</span>
        </div>
    </div>
</div>