<div id="sidebar" class="sidebar sidebar-fixed">
    <div class="sidebar-outer">
        <ul class="sidebar-inner">
            <li class="menu-item">
                <a href="/your/path">
                    <i class="menu-icon fa fa-angle-double-right"></i>
                    <span class="menu-text">First level</span>
                </a>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="#">
                    <i class="menu-icon fa fa-bolt"></i>
                    <span class="menu-text">First level with children</span>
                </a>
                <ul class="sidebar-submenu">
                    <li class="menu-item">
                        <a href="/your/path/1">
                            <i class="menu-icon fa fa-angle-double-right"></i>
                            <span class="menu-text">Second level</span>
                        </a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/your/path/2">
                            <i class="menu-icon fa fa-angle-double-right"></i>
                            <span class="menu-text">Second level with children</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li class="menu-item">
                                <a href="/your/path/2/2">
                                    <i class="menu-icon fa fa-angle-double-right"></i>
                                    <span class="menu-text">Third level</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/your/path/2/3">
                                    <i class="menu-icon fa fa-angle-double-right"></i>
                                    <span class="menu-text">Third level</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar-control">
        <div class="sidebar-toggle">
            <button type="button" id="toggle-sidebar-size-btn" class="btn btn-default btn-sm">
                <i class="menu-icon fa fa-arrow-left"></i>
            </button>
        </div>
    </div>
</div>