<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="nav-controls visible-xs-inline-block pull-left">
                <button class="btn btn-default navbar-btn" id="toggle-sidebar-btn" type="button"><span class="sr-only">Toggle sidepanel</span><i class="fa fa-bars"></i></button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">
                <img alt="eMAG" src="images/favicon.png">
            </a>
            <div class="nav-controls visible-xs-inline-block pull-right">
                <button class="btn btn-default navbar-btn" data-target="#test3_navbar" data-toggle="collapse" id="main-min-nav" type="button">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="test3_navbar">
            <h4 class="navbar-text">Supplier Order Node Dashboard</h4>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>