<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="nav-controls visible-xs-inline-block pull-left">
                <button class="btn btn-default navbar-btn" id="toggle-sidebar-btn" type="button"><span class="sr-only">Toggle sidepanel</span><i class="fa fa-bars"></i></button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">
                <img alt="eMAG" src="images/favicon.png">
            </a>
            <div class="nav-controls visible-xs-inline-block pull-right">
                <button class="btn btn-default navbar-btn" data-target="#test3_navbar" data-toggle="collapse" id="main-min-nav" type="button">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="test3_navbar">
            <h4 class="navbar-text">Supplier Order Node Dashboard</h4>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle dd-language" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="visible-xs-inline">Language</span>
                        <span><i class="flag-icon flag-icon-ro"></i>RO</span><i class="fa fa-angle-down hidden-xs"></i>
                    </a>
                    <ul class="dropdown-menu dm-language">
                        <li><a href="#"><i class="flag-icon flag-icon-gb"></i><span>EN</span></a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-bg"></i><span>BG</span></a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-hu"></i><span>HU</span></a></li>
                        <li><a href="#"><i class="flag-icon flag-icon-pl"></i><span>PL</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-bell nav-icon-lg hidden-xs"></i>
                        <span class="visible-xs-inline">Notifications</span>
                        <span class="jewel">3</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dm-header hidden-xs">
                            <span>Notifications</span>
                        </li>
                        <li>
                            <a href="#"><span>You have an invalidated offer</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Your account is not up to date</span></a>
                        </li>
                        <li>
                            <a href="#"><span>You have a new order</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><span>View all</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>