{% extends 'base/layout.twig' %}

{% block content %}
    <ul>
      {% for order in data %}
             {% for key, value in order %}
                <li>{{ key }}: {{ value }}</li>
             {% endfor %}
      {% endfor %}
    </ul>
{#{{ data|json_encode }}#}
{% endblock %}

