<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="Son dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="SCM Team">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel='stylesheet' href='css/main_style.css' />
</head>
<body>
{% block body %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src=\"js/lib/jquery-1.11.3.min.js\">"+"<"+"/script>")</script>
<script src="/js/main_script.js"></script>
</body>
</html>